<!DOCTYPE html>
<!-- HTML -->
	<html lang="en-US">
	<!-- Head -->
		<head>

			<!-- Style related links -->
			<link rel="stylesheet" href="css/auxCord.css">

			<meta charset="UTF-8">
			<title>auxCord</title>

		</head>

	<!-- Body-->
		<body>
		<!-- Header 1 -->
		<div class="headText" >
			<h1>
					auxCord
				</h1>
		</div>
			
		<!-- Login Button -->
			<div class="loginButton" >
					<button type="button">Login</button>
			</div>

		</body>

	</html>